.team-container{
    height: 70vh;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.411),rgba(255, 255, 255, 0.411)), url(https://images.unsplash.com/photo-1486927181919-3ac1fc3a8082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.83),rgba(255, 255, 255, 0.83)), url(https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.abt-nishi{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    /* align-items: center; */
}

.nishipic{
    width: 300px;
    height: 400px;
    background-image: url(https://i.ibb.co/fD17yTJ/IMG-3142.png);
    background-position-y: 50%;
}
.nishibio{
    width: 32%;
    height:auto;
    font-size: 130%;
    letter-spacing: 3px;
    margin: 4%;
    line-height: 38px;
    text-align: justify;
}